*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}

:root
{

    /* colores secciones */
    --main-bg-color: #f0f0f070;

    --fondo-navbar:rgba(85, 63, 209, 0.357);

    --seccion-oscura-FONDO:#1b1b32;
    --seccion-oscura-FUENTE:#fff;
    --seccion-clara-FUENTE:#03000e;
    --seccion-clara-FONDO:#F5F5F5; 
    --title-seccion-claro:#dde4e6;    
    --title-seccion-oscuro:#4a4a4e;
    
    
    --fondo-black:#000;
    --fondo-white:#f5f5f5;
    
    /* colores */
    --gradient-color-A : rgba(61, 0, 152, 0.35);
    --gradient-color-B : rgba(0,0,0,1);
    --color-grey-trans:rgba(128, 128, 128, 0.302);


    
    
    --fondo-i-tecnologia:#212F3C;
    --fondo-hover-i-tecnologia:#1b1b32;
    --icono:#07f342;
    
    --color-grey-light:#dde4e6;
    --color-grey-dark:#4a4a4e;

    --color-green:#07f342;
    --color-black:#000;
    --black--color-ligth:#0a0a0a;
    
    
    --link-main-text-color: #fff;
    --link-bg-color: rgba(0,0,0,0.5);
    
    --border-color: #fff;
    
    --font-color-especial: rgb(139, 8, 214);
    --font-white: #fff;
    --font-black : #000;
    
    
    
    /* FUENTES */
    
    --font-title-disenho: "Rubik Dirt", system-ui;
    --font-tecno:"Share Tech Mono", monospace;
    --font-principal:Arial, Helvetica, sans-serif;
}






/* estilos generales */
body{
    font-family: var(--font-principal);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-color-A),var(--gradient-color-B)), url(./image/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color:transparent; */
    /* max-width: 1300vw; */
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
}

.logo-principal{
    
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.seccion-oscura{
    background-color: var(--seccion-oscura-FONDO);
    color: var(--seccion-oscura-FUENTE);
}
.seccion-clara{
    background-color: var(--seccion-clara-FONDO);
    color: var(--seccion-clara-FUENTE);
}
.texto-blanco{
    color: var(--font-white);
}
.texto-negro{
    color: var(--font-black);
}
.titulo-claro{
    color: var(--title-seccion-claro);
}
.titulo-oscuro{
    color: var(--title-seccion-oscuro);
}

.seccion-descripcion{
    font-size:1.2rem;
    color: var(--color-grey-dark);
}
/* titulo de las secciones */
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: var(--font-title-disenho);
    
}


/* iconos */
.icono {
    font-size: 2.5rem;
    padding: 0;
    color: var(--color-green);
    background-color: var(--fondo-i-tecnologia);
    border: .5px solid var(--fondo-i-tecnologia);
    border-radius: 50%;
    margin: 5px;

    transition: all 1s ease-in;
}
.icono:hover{
    color: var(--color-black);
    background-color: var(--color-green);
    border: 2px solid var(--color-green);
}
/* botones  */
.btn-verMas{
    background-color: var(--fondo-black);
    color: var(--font-white);
    margin: 20px;

    border: 2px solid var(--color-black);
    border-radius: 25px;

    font-size: 1.1rem;
    font-weight: bold;
    transition: all 2s ease-in;
}
.btn-verMas:hover{
    background-color: var(--fondo-white);
}
.btn-verMas:hover .icono{
    background-color: var(--color-green);
    color: var(--font-black);
    border: 1px solid var(--color-green);
}
.navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: 3px 3px 9px 0.1rem;
}

/* --------fin estilos generales ------- */
/* barra de navegacion */


/* seccion hero */
.hero{
    /* background-color: #f5f6f7; */
    min-height: 450px;
    text-align: center;
    height: 100%;
}
.hero-principal{
    padding: 3rem;
}
.hero-imagen-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.title-principal-soy{
    font-size: 50px;
    font-family: var(--font-principal);
    font-weight: 800;
    color: var(--color-grey-light);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 350px;
}
.title-principal-nombre{
    font-size:60px;
    font-family:var(--font-title-disenho);
    color: var(--color-grey-light);
}

.subtitle-principal{
    font-size: 1.5rem;
    color: var(--color-grey-light);
    font-family: var(--font-tecno);
    font-weight: 800;
}
.span-title{
    color: var(--font-color-especial);
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--font-principal);
}
.span-subtitle{
    color: var(--font-color-especial);
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-principal);
}

/* .banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-color-A),var(--gradient-color-B)), url(./image/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}  */




.content
{
    margin-top: 100px;
    width: 95%;
    position: absolute;
    bottom: 0%;
    transform: translateY(-100%);
    text-align: center;
    /* color: var(--color-grey-light); */
}




/* sobre mi */

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* tecnologia */
.tecnologia{
    height: 500px;
    margin-bottom: 100px;
}
.contenedor-tecnologia{
    border: 2px solid var(--color-grey-light);
    border-radius: 25px;
}

.tecnologia .columna{
    font-family: var(--font-tecno);
    padding: 1rem 2px 1rem 2px;
    border: 2px solid rgba(128, 128, 128, 0.302);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
}

.tecnologia .columna:hover{
    color: var(--color-grey-light);
    background-color: var(--fondo-hover-i-tecnologia);
}
.tecnologia .columna1{
    border-bottom-left-radius: 25px;
}

.tecnologia .columna4{
    border-bottom-right-radius: 25px;
}


.tecnologia .icono-tecnologia {
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
}


/* SECCION PROYECTOS */
.container-izq{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.container-der{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.contenedor-proyectos{
    max-width: fit-content;
    margin-left: 150px;
    margin-right: 150px;
    /* border: 2px solid var(--color-grey-light); */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap:50px;
}

.proyecto img{
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    display: block;
    transition: all 0.2s ease;
}


.proyecto{
    max-height: 500px;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 0;
    border: .5px solid var(--color-grey-light);
    border-radius: 25px;
    position: relative;
    background-color:var(--color-grey-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyecto:first-child{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.proyecto:hover .overley{
    opacity: 1;
}

.proyecto:hover img{
    opacity: 0.5;
}

.overley{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.overley-descripcion{
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-white);
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.overley .iconos-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
}
.overley .iconos-proyectos{    
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-content: center;
}
.btn-verMas{
    width: 20%;
    display: inline;
    justify-content: center;
    margin: 10px;
}

/* ARTICULOS */
.articulos{
    min-height:  300px;
    padding: 30px;
}

.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header{
    font-weight: bold;
}

/* testimonios-carrusel */
.testimonios{
    padding: 40px 40px 80px 40px;
    max-width: 500px;
    max-height: 800px;
    margin-top: 100px;
    margin-bottom: 200px;
    color: var(--color-grey-light);
}
.seccion-descripcion{
    color: var(--color-grey-light);
    
}

.testimonios .carousel{
    max-width: 800px;
    }

.carrousel-item{
    height: 500px;
}

.carrousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
    border: 2px solid black;
    border-radius: 50%;
}

.testimonio-texto{
    /* max-width: 70%; */
    font-size: 1rem;
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    color: var(--color-grey-light);
}

.testimonio-info p{
    margin-bottom: 0;
    color: var(--color-grey-light);
}

.testimonio-info .cliente{
    font-size: 1.2rem;
    color: var(--color-grey-light);
}
.testimonio-info .cargo{
    font-size: 0.9rem;
    color: var(--color-grey-light);
}

/* CONTACTO */
.contacto .container{
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 0 20px 0;

    margin-top: 100px;
}

.contacto .rectangulo{
margin-top: -10rem;
background-color: rgb(13,110 ,253);
border-radius: 25px;
box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items:center;
}

.contacto .descripcion{
    color: var(--font-white);
    font-size: 1.2rem;
}

.contacto button{
    color: var(--font-white);
    font-size: 1.8rem;
    font-weight: 400;
    background-color: transparent;
    border: 2px;
    border-radius: 100px;
    margin: 10px;

    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: var(--font-white);
    font-size: 1.9rem;
    transition: all ease-in-out;
}

.contacto button:hover{
    background-color: var(--fondo-white);
    color: var(--font-black);
}

.contacto button:hover i{
    color: var(--font-black);
}

/* FOOTER */
.footer{
    min-height: 500px;
    padding: 20px;
    padding-top: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.footer-logo-frase{
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.footer-logo{
    height: 40px;
    width: 40px;
    /* margin-left: 45%; */
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom:30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;

    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: var(--font-white);
    font-size: 1.5rem;
    transition: all 02s ease-in;
}
.iconos-redes-sociales a:hover{
    background-color: var(--fondo-white);
    border:2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i{
    color: var(--font-black);
}

.correo{
    margin-top: 100px;
    margin-bottom: 100px;
}
.icono-correo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    

    transition: all 0.2s ease-in;
}
.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* medias queries */

@media screen and (max-width:400px){
    .overley p{
        font-size: 18px;
    }
    .overley i{
        font-size: 40px;
    }

    .contenedor-proyectos{
        width: 100%;
        margin: 0;
        padding: 5px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* gap: 50px; */
    }
    
    .proyecto img{
        height: inherit;
        width: inherit;
        border-radius: 25px;
        display: block;
        transition: all 0.2s ease;
    }
    
    
    .proyecto{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:767px){
    .navbar-brand {
        display: none;
        
    }
    .d-flex{
        display: flex;
        flex-direction: column;
    }   

        .navbar .container-fluid {
            width: auto;
            /* max-width: 40%; */
            position: fixed;
            top: 0vh;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: end;
            background-color: var(--fondo-navbar);
            flex-wrap: wrap;
            /* align-items: center; */
        }

    .navbar-collapse {
        background-color: var(--fondo-navbar);
        margin-top: 100px;
        margin-bottom: 100px;
    
    }

    .navbar-collapse ul li{
        padding: 10px;
        
    }
    .navbar-collapse ul li a{
        color: var(--font-black);
        font-size: 1.2rem;
        font-weight: 800;
        margin-top: 20px;
    }
}


@media screen  and (min-width:700px){
    .hero-inferior-imagen{
        max-width: 600;}
    }